/*skal vi ha et stylesheet
for alt sammen? Eller et hvor hver
side?*/


.header{
	text-align: center;
	padding-top: 5%;
}

#header h1{
	margin: 0px;
}

.meny-knapp{
	text-decoration: none;
}

body{
	background-color: #c3d9bf;
	padding: 0px; /*for å fjerne whitespace*/
	margin: 0px;
  	background-color:
 	font-family: Arial, Helvetica, sans-serif;
}


.meny {
	list-style-type: none; /*Dette er f0r å fjerne bullet
points*/
	margin: 0; /* fjerner luften rundt elementene*/
	padding: 20px;
	background-color: ##6a8a63; /*setter bakgrunnsfarge på knappene*/
	/*font-size: 18px;*/
	font-size:calc(10px + 1.5vw); /*hentet fra https://stackoverflow.com/questions/23984629/how-to-set-min-font-size-in-css
	for å få en min-size font*/
}

.meny a {
	float: left;
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 20px;
	border-radius: 6px;
	line-height: 20px;
}

.meny a.navn {
	font-size: 20px;
	font-weight: bolder;
}


li a{
/*	display: inline-block;*/

	float:left; /*for å få menyen vannrett*/
	text-align: center; /*for å få menyteksten i midten */
	/*width: 25%; /*For at hvert menyelemenmt tar 1/4 av siden*/
	width: 25%;
	height: 4.0vh; /*bruker vh (view height) for at den skal holde seg rett når siden skaleres*/
	padding-top: 5%; /*paddingen gjør knappene større enn bare teksten i høyden*/
	padding-bottom: 5%;
	margin-bottom: 2.5%; /*margin gir litt luft mellom nav-bar og resten av siden*/
	display: block; /*Hele greia blir clickable, ikke bare teksten*/
	background-color: #6a8a63;
	color: white;
	text-decoration: none;

}

/*hover-effekt. Bare placeholder farger :) */
li a:hover{
	background-color: #455940;
	color:white;
}

/* color for when button is pressed*/
li a.active {
	background-color: ;
	color: white;
}

{
	box-sizing: border-box;
}

.menu {
	background-color: #05D7EE;
	padding: 30px;
	overflow: hidden;
}

.menu a{
	float: left;
	display: block;
	text-align: center;
	font-size: 18px;
	text-decoration: none;
	border-radius: 5px;
	padding: 8px;
	padding-top: 30px;
	line-height: 15px;
}

.menu a.navn {
	font-size: 24px;
	font-weight: 800;
}

.menu a:hover {
	background-color: blue;
	color: white;
}

.menu a.active {
	background-color: magenta;
	color: white;
}
/* for å få menyen til høyre på siden*/
.header-menu {
	float: right;
}

@media screen and (max width: 600px) {
	.menu a {
		float: none;
		width: 100%;
		display: block;
		border-style: solid 4px;
	}

	.header-menu {
		float: none;
	}
}

#QR-code{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.frontpage-buttons{
	display: inline-block;
 	margin: 0 15%;
 	padding: 10px;
}


.contactForm {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background-color: #3B5998;
  color: white;
}

.fa-twitter {
  background-color: #55ACEE;
  color: white;
}


/** Har ikke fått til at
knappene under QR-koden alltid ligger
i midten av bildet*/

input[type=text], textarea {
width: 100%;
padding: ;
margin: ;
border: 2px solid black;
border-radius: 2px;
}

input[type:Send] {
  background-color: ;
  color: ;
  padding: ;
  border: ;
  border-radius: 4px;
}

input[type:Send]:hover {
  background-color: ;
}
