/*skal vi ha et stylesheet
for alt sammen? Eller et hvor hver
side?*/


html{
	position: relative;
	min-height: 100%;
}

.header{
	text-align: center;
	padding-top: 5%;
}

#header h1{
	margin: 0px;
}

.meny-knapp{
	text-decoration: none;
}

body{
	background-color: #c3d9bf;
	padding: 0px; /*for å fjerne whitespace*/
  	background-color:
 	font-family: Arial, Helvetica, sans-serif;
 	height: 100vh;
 	margin: 0;
}

.meny {
	list-style-type: none; /*Dette er f0r å fjerne bullet
points*/
	margin: 0; /* fjerner luften rundt elementene*/
	padding: 0;
	background-color: ##6a8a63; /*setter bakgrunnsfarge på knappene*/
	/*font-size: 18px;*/
	font-size:calc(10px + 1.5vw); /*hentet fra https://stackoverflow.com/questions/23984629/how-to-set-min-font-size-in-css
	for å få en min-size font*/

}

li a{
/*	display: inline-block;*/

	float:left; /*for å få menyen vannrett*/
	text-align: center; /*for å få menyteksten i midten */
	/*width: 25%; /*For at hvert menyelemenmt tar 1/4 av siden*/
	width: 25vw;
	max-width: 25%; /*prevent horizontal overflow*/
	height: 4.0vh; /*bruker vh (view height) for at den skal holde seg rett når siden skaleres*/
	padding-top: 5%; /*paddingen gjør knappene større enn bare teksten i høyden*/
	padding-bottom: 5%;
	margin-bottom: 2.5%; /*margin gir litt luft mellom nav-bar og resten av siden*/
	display: block; /*Hele greia blir clickable, ikke bare teksten*/
	background-color: #6a8a63;
	color: white;
	text-decoration: none;

}

/*hover-effekt. Bare placeholder farger :) */
li a:hover{
	background-color: #455940;
	color:white;
}


{
	box-sizing: border-box;
}

.menu {
	background-color: #05D7EE;
	padding: 30px;
	overflow: hidden;
}

.menu a{
	float: left;
	display: block;
	text-align: center;
	font-size: 18px;
	text-decoration: none;
	border-radius: 5px;
	padding: 8px;
	padding-top: 30px;
	line-height: 15px;
}

.menu a.navn {
	font-size: 24px;
	font-weight: 800;
}

.menu a:hover {
	background-color: blue;
	color: white;
}

.menu a.active {
	background-color: magenta;
	color: white;
}
/* for å få menyen til høyre på siden*/
.header-menu {
	float: right;
}

@media screen and (max width: 600px) {
	.menu a {
		float: none;
		width: 100%;
		display: block;
		border-style: solid 4px;
	}

	.header-menu {
		float: none;
	}
}


#LadySewing{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

/*.frontpage-buttons{
	display: inline-block;
 	margin: 0 15%;
 	padding: 10px;
}*/


/** Har ikke fått til at
knappene under QR-koden alltid ligger
i midten av bildet*/


input[type=text], textarea {
width: 40%;
padding: 4px;
margin: 4px;
border: 2px solid black;
border-radius: 2px;
}

input[type:Send] {
  background-color: white;
  color: black;
  padding: 5px;
  border: 4px;
  border-radius: 4px;
}

input[type:Send]:hover {
  background-color: grey;
}

.contactForm {
	background-color: white;
	padding: 20px;
	margin-left: 5%;
	margin-right: 15%;
	width: 80%;
	border-radius: 8px;
	margin-bottom: 200px;
}

footer{
	width: 100vw; /*to fill the screen*/
	max-width: 100%; /* prevents horizontal overflow*/
	display: block; /*vi vil ha en kloss*/
	overflow: hidden; /*fordi vi skal ha noen floating elements*/
	background-color: #6a8a63;
	margin-top: 5%; /*for å få litt luft over */
	padding: 2% 0;
	box-sizing: border-box;

}

footer .contact{
	float: right;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background-color: #3B5998;
  color: white;
}

.fa-twitter {
  background-color: #55ACEE;
  color: white;
}
