
*{
	text-decoration: none;
}

html{
	position: relative;
	min-height: 100%;
}

.header{
	text-align: center;
	padding-top: 50px;
	margin: 10px;
		color: rgba(255,255,255,.9);
}

h1 {
	padding: 0px;
	margin-top: -30px;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
}

.navn {
	margin-bottom: 2px;
} /*luft under tittel i menyen*/

.content{ /*alt farge*/
	background-color: rgba(255,255,255,.2);
	padding-bottom: 50px;
}

body{
padding: 0px; /*for å fjerne whitespace*/
background-color: #DCFDFF;
background-color: #2d818a; /* alt farge */
font-family: Arial, Helvetica, sans-serif;
height: 100vh;
margin: 0 0 0 0 px; /* bottom = footer height*/
padding: 0;
margin: 0;
}

{
	box-sizing: border-box;
}

.menu {
	background-color: #05D7EE;
	background-color: #2d818a;
	background-color: rgba(255,255,255,.2);
	padding: 30px;
	overflow: hidden;
	margin-bottom: 20px;
}

.menu a{
	float: left;
	display: block;
	text-align: center;
	font-size: 18px;
	text-decoration: none;
	border-radius: 1px;
	padding: 8px;
	padding-top: 10px;
	line-height: 15px;
	border-right: 1px solid black;
	color:white;
}

.menu a.navn {
	font-size: 24px;
	font-weight: 800;
}

.menu a:hover {
	background-color: blue;
	color: white;
}

.menu a:active {
	background-color: magenta;
	color: white;
}
/* for å få menyen til høyre på siden*/
.header-menu {
	float: right;
}

.tegneserie img{
	padding: 10% 0;
	width: 100%;
}


@media screen and (max width: 600px) {
	.menu a {
		float: none;
		width: 100%;
		display: block;
		border-style: solid 4px;
	}

	.header-menu {
		float: none;
	}

	.contactForm {
		width: 100%;
		margin-top: 0;
	}
}

#headP {
	width: 50%;
	margin-left: 25%;
	background-color: rgba(255,255,255,.2);
	text-align: center;
	border:
	margin-top: 20px;
}

#headP p {
	padding: 5px;
	padding-top: 7px;
}

#about {
	width: 40%;
	margin-left: 25%;
	background-color: rgba(255,255,255,.2);
	text-align: center;
	border: 5px solid black;
	margin-top: 20px;
	padding: 5%;
}

#about p {
	weight: bold;
}

#LadySewing{
	width: 100%;
}

.picture{
	background-color: rgba(255,255,255,0.2);
	width: 60%;
	margin-left: 17%;
	padding: 30px;
}


#logo {
	float: center;
	width: 20%;
	padding: 5px;
	padding-bottom: 15px;
}

#scanMe {
	width: 80%;
	padding-left: 10%;
}

.contactForm {
	background-color: #ffe7ff;
	padding: 20px;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	border-radius: 8px;
	margin-bottom: 200px;
}

input[type=text] {
width: 40%;
padding: 4px;
margin: 4px;
border: 2px solid black;
border-radius: 2px;
}

textarea {
	width: 90%;
	height: 100px;
	padding: 4px;
	margin: 4px;
	border: 2px solid black;
	border-radius: 2px;
	resize: none;
}

input[type=Button] {
  background-color: white;
  color: black;
  padding: 10px;
  border-color: black;
  border-radius: 4px;
	display: inline-block;
	cursor: pointer;
}

input[type=Button]:hover {
  border-style: double;
	border-color: black;
	text-transform: uppercase;
}

input[type=Button]:active {
	background-color: #05D7EE;
}

footer{
	width: 100vw; /*to fill the screen*/
	max-width: 100%; /* prevents horizontal overflow*/
	display: block; /*vi vil ha en kloss*/
	overflow: hidden; /*fordi vi skal ha noen floating elements*/
	background-color: #05D7EE;
	background-color: rgba(255,255,255,.5); /*alt farge*/
	background-color: rgba(255,255,255,.2);
	margin-top: 50px; /*for å få litt luft over */
	padding: 0 0;
	box-sizing: border-box;
	padding-top: 15px;
	padding-bottom: 22px;
}

footer .contact{
	float: right;
	padding-right: 20px;
}

footer p {
	text-align: center;
	padding-bottom: 5px;
	padding-left: 6px;
	color: white;
	font-size: 17px;
}


.fa {
	padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background-color: #3B5998;
  color: white;
}

.fa-twitter {
  background-color: #55ACEE;
  color: white;
}

.bruksanvisning {
	font-size: 20px;
	color: white;
	text-align: center;
}

#contact{
	color:white;
	font-size: 18px;
}

#byline{
	float: left;
}
